.layout-content {
    padding: 2rem;
    min-height: 85vh;
    background-color: #f4f6f9;
  }
  
/* Custom styles that extend Bootstrap */
/* Add any additional custom styles that aren't covered by Bootstrap here */
  